@font-face {
    font-family: 'CirrusCumulus';
    src: url('fonts/CirrusCumulus.woff') format('woff');
  }

  @font-face {
    font-family: 'Pleine';
    src: url('fonts/Typefesse_Pleine.woff2') format('woff2');
  }

  @font-face {
    font-family: 'Kaerukaeru';
    src: url('fonts/kaerukaeru-Regular.woff2') format('woff2');
  }
  @font-face {
    font-family: 'Victoriana';
    src: url('fonts/vtf_victorianna_thin_talic-webfont.woff') format('woff');
  }
  @font-face {
    font-family: 'Victoriana2';
    src: url('fonts/vtf_victorianna_thin-webfont.woff') format('woff');
  }
  #police {
    position: fixed;
    width:100%;
    height:100%;
    left:0;
    top:0;
    overflow:hidden;
    display: none;
    animation: rotation 2s infinite linear;
    z-index:50;
  }



#header {
    display: grid;
    grid-template-columns:repeat(6, min-content auto [col-start]);
    width:auto;
    height:30px;
    column-gap: 8px;
}
.child {
    font-family: "Victoriana";
    line-height:1.5;
    font-size:17;
    display: inline-grid;
    color:whitesmoke;
    width:max-content;
}

.key {
    display: inline-grid;
    width: 23px;  
    height:auto;
}
textarea { 
    font-family: 'Kaerukaeru';
    color:white;
    text-align: left;
    font-size: 12vw;
    opacity:.8;
    z-index:1;
    background: transparent;
    border: none;
    resize: none;
    overflow: hidden;
    caret-color: transparent;
    
}
textarea:focus, input:focus{
    outline: none;
}
body{    
    background-size: cover;

}
img {
    pointer-events: none;
    z-index:2;
    height: 20vh;
}
#textdiv {
    text-align: center;
    width:100%;
    height:100%;
}
#dancefloor {
    position:fixed;
    bottom:0;
    width:87vw;
    height:40vh;

}

#introdiv {
    position:fixed;
    height: 100vh;
    width:100%;
    z-index:4;
    text-align:center;
  }
  
  .intro {
    margin-top:17%;
    font-family: "Victoriana2";
    color:black;
    height:auto;
    font-size: 25px;
  }
  input{
    margin-top:70px;
  }

  #fakebg {
    position:fixed;
    background-color:white;
    width: 100%;
    height: 100%;
    z-index:3;
    overflow:hidden;
    top: 0; right: 0; bottom: 0; left: 0;
    border: 15px white;
  }
  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }